{% extends 'base.html' %}

{% block content %}

<div class="container">
  <br />
  <h1 class="text-center">About Us!</h1>
  <p>The focus of our project is to collect and organize data related to books and literature. The final deliverable of
    the project will take the form of a web application -hosted through Digital Ocean- that will emulate the
    functionality of IMDB. That is to say, users of our web application will be able to access information on
    particular books, authors, and publishers of literature.</p>
</div>
<div class="container">
  <h1 class="text-center">Our Team Members</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="margin:10px; height: 550px;">
        <img class="card-img-top img-fluid" src="/static/images/daniel_pic.jpeg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title text-center">Daniel Snyder</h4>
          <p class="card-text">I am a Mechanical Engineering major in the fourth year of my undergraduate degree.After
            graduation, I plan to work full-time for IBM in Atlanta where I will use the skills I have developed
            through the Elements of Computing and the Business Foundations certificate programs.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="margin:10px;height: 550px;">
        <img class="card-img-top img-fluid" src="/static/images/trevor_pic.jpeg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title text-center">Trevor Huis in 't Veld</h4>
          <p class="card-text">I am a Senior Economics and Elements of Computing student at The University of Texas. I
            hope to one day utilize my knowledge to make the world a better place!</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="margin:10px;height: 550px;">
        <img class="card-img-top img-fluid" src="/static/images/raith_pic.jpeg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title text-center">Raith Hamzah</h4>
          <p class="card-text">Born in Bahrain, I am a Senior Mathematics and Computational Science major. My interests
            mostly concern web development and machine learning. I most recently worked as a software engineer for
            Adobe.</p>
        </div>
      </div>
    </div>
    <br />
    <div class="col-md-1">
    </div>
    <div class="col-md-4">
      <div class="card" style="margin:10px; height: 550px;">
        <img class="card-img-top img-fluid" src="/static/images/uriel_pic.jpeg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title text-center">Uriel Buitrago</h4>
          <p class="card-text">I am a third year mechanical engineering major born in Charlotte, North Carolina, but I
            grew up in San Antonio, Texas. I currently enjoy my work as a Residents Assistant for the Creekside
            Dormitory, and am a member of the 512 Hyperloop engineering team. </p>

        </div>
      </div>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-4">
      <div class="card" style="margin:10px;height: 550px;">
        <img class="card-img-top img-fluid" src="/static/images/Nicolas_Pic.jpeg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title text-center">Nicolas Arrieche</h4>
          <p class="card-text">I was born in Venezuela, and grew up in Houston, Texas. I am currently a third year
            Mechanical Engineering student, pursuing an Elements of Computing certificate. I love food, sports, and UT
            Austin. </p>
        </div>
      </div>
    </div>
    <div class="col-md-1">
    </div>
  </div>
</div>

<div class="container">
  <br />
  <h1 class="text-center">Delegation of Work</h1>
</div>

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"><b>Name</b></th>
        <th scope="col"><b>Responsibilities</b></th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Uriel</th>
        <td>Frontend Design and GCP Hosting</td>
      </tr>
      <tr>
        <th scope="row">Trevor</th>
        <td>Backend work with Flask/SQLAlchemy</td>
      </tr>
      <tr>
        <th scope="row">Raith</th>
        <td>Web Development Consultation</td>
      </tr>
      <tr>
        <th scope="row">Daniel</th>
        <td>Issue Maintenence and Technical Report</td>
      </tr>
      <tr>
        <th scope="row">Nicolas</th>
        <td>Issue Maintenance and Unit Testing</td>
      </tr>
    </tbody>
  </table>

  <div class="container">
    <br />
    <h1 class="text-center">Our Project Statistics</h1>
  </div>

  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"><b>Name</b></th>
          <th scope="col"><b>No. of Commits</b></th>
          <th scope="col"><b>No. of Issues</b></th>
          <th scope="col"><b>No. of Acceptance Tests</b></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Uriel</th>
          <td>18</td>
          <td>6</td>
          <td>0</td>
        </tr>
        <tr>
          <th scope="row">Trevor</th>
          <td>33</td>
          <td>7</td>
          <td>0</td>
        </tr>
        <tr>
          <th scope="row">Nicolas</th>
          <td>30</td>
          <td>7</td>
          <td>0</td>
        </tr>
        <tr>
          <th scope="row">Raith</th>
          <td>16</td>
          <td>4</td>
          <td>0</td>
        </tr>
        <tr>
          <th scope="row">Daniel</th>
          <td>49</td>
          <td>7</td>
          <td>0</td>
        </tr>
        <tr>
          <th scope="row">Total</th>
          <td>146</td>
          <td>31</td>
          <td>0</td>
        </tr>
      </tbody>
    </table>
    <div class="text-center">
      <h3>Links</h3>
      <a href="https://gitlab.com/djsnyder4406/cs329e-idb/issues">Gitlab Issue Tracker</a>
      <br />
      <a href="https://gitlab.com/djsnyder4406/cs329e-idb">Gitlab Repo</a>
      <br />
      <a href="https://gitlab.com/djsnyder4406/cs329e-idb/wikis/home">Gitlab Wiki</a>
      <br />
      <a href="https://gitlab.com/djsnyder4406/cs329e-idb/blob/master/test.html">Unit Tests</a>
    </div>
  </div>
  <div class="container text-center">
    <br />
    <h1>Data Source</h1>
    <p><a href="http://www.cs.utexas.edu/~fares/cs329es19/CS%20373_files/tutorials/books.json">Books</a> JSON file
      provided by Professor Fraij</p>
    <br />
    <p> The data provided by Professor Fraij was scraped and separated into three unique
    JSON files, one for each model. This was done in order to add ID tags to each instance of each model
    for rapid query when linking the models together.</p> 
  </div>
  <div class="container text-center">
    <br />
    <h1>Tools</h1>
    <h6>These are the tools we used to complete our website the 📚BookClub</h6>
    <p><b>Frontend:</b> HTML, CSS, Javascript, Bootstrap</p>
    <p><b>Backend:</b> Python and Flask</p>
    <p><b>Communication and Teamwork:</b> Slack and Gitlab</p>
  </div>

  <div class="container text-center">
    <p>
  <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Show Coverage Report
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <img src="/static/images/coverage_tests_report.jpeg">
  </div>
</div>
  </div>



  {% endblock %}
