{% extends 'base.html' %}

{% block content %}
<div class="splashpage-parallax">
  Find your mind's desire...
</div>
<div class="jumbotron">
  <h1 class="display-4">Welcome to the BookClub!</h1>
  <p class="lead">
    A website to navigate all your favorite authors and books and to search by
    genre for new recommended reads.
  </p>
  <hr class="my-4" />
  <p>
    Created by Raith Hamzah, Uriel Buitrago, Nicolas Arrieche, Trevor Huis in 't
    Veld, Daniel Snyder
  </p>
  <a class="btn btn-lg" href="/about" style="background-color:saddlebrown; color: white;" role="button">Learn more about us!</a>
</div>
{% endblock %}